@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #000000;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #f1f1f1;
    --foreground: #1a1919;
  }
} */

.nav {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-right: 100px;
  background-color: white;
}

.nav a {
  text-decoration: none;
  color: rgb(80, 80, 80);
  font-weight: 300;
  font-size: 16px;
}

.nav a:hover {
  color: rgb(80, 80, 80);
  /* background-color:  rgba(204, 204, 204, 0.392); */
  border-radius: 80px;
}

.nav-container {
  display: flex;
  justify-content: right;
  padding: 20px;
  width: 100%;
  height: 150px;
  background-color: rgb(255, 255, 255);
  text-align: center;
  align-items: center;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-weight: 700;
  font-size: 11px;
  line-height: 1;
  letter-spacing: 1px;
  -webkit-font-smoothing: antialiased; /* Smooths the font on macOS */
  -moz-osx-font-smoothing: grayscale; /* Smooths the font on Windows */
}

.title-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin-top: 64px;
  font-size: 162px;
  font-weight: 1000;
  color: #000;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
  font-family: "Inter", sans-serif;
}

/* .sub-title{
  font-style: italic;
  color:#000;
  font-weight: 600;
} */

.search-bar {
  margin-top: 36px;
  border: #e5e5e5;
  border-style: solid;
  border-radius: 8;
  padding: 8;
  width: 800px;
}

.bg-gray-800 {
  background-color: #ffffff;
}

.ticker-stock-symbol {
  font-weight: 800;
}

.ticker-stock-price {
  color: #000000;
}
.text-green-500 {
  color: #10b981;
}
.text-red-500 {
  color: #ef4444;
}
.overflow-x-auto {
  overflow-x: 50;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%); /* Move by 50% of the total width */
  }
}

.animate-scroll {
  animation: scroll 20s linear infinite; /* Adjust duration as needed */
  white-space: nowrap;
}

.ticker-wrapper {
  position: relative;
  height: 2.5rem; /* Adjust the height of the ticker */
}

.ticker-content {
  display: flex;
  width: max-content; /* Ensures the content spans as wide as needed */
  animation: scroll 35s linear infinite; /* Adjust speed as needed */
}

.ticker-item {
  flex-shrink: 0;
  white-space: nowrap; /* Prevents text wrapping */
}

.space-x-8 {
  gap: 2rem; /* Adjust space between stocks */
}

.divider {
  margin-top: 12px;
  border-top: 1px solid #9b9b9b;
  margin-bottom: 12px;
  width: 100%;
}

.fcfe-divider {
  border-top: 1px solid #cdcdcd;
  margin-bottom: 12px;
  margin-top: -10px;
  width: 100%;
}

.coe-label {
  flex: 1;
  margin-bottom: -10px;
  color: #333;
  max-width: 250px;
}

.coe-divider {
  border-top: 1px solid #cdcdcd;
  margin-bottom: 12px;
  margin-top: -10px;
  width: 100%;
}

.financials {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 32px;
  padding: 10;
}

.financial-metrics {
  margin-top: 21;
  margin-left: 20;
}

.sub-values {
  margin-left: 35px;
}

.inner-container {
  max-width: 800px;
  margin: 0 auto;
  padding-left: 0px;
}

.fcfe-title {
  margin-left: 0px;
  color: #333333;
}

.fcfe-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -8px;
  align-content: center;
}

.coe-title {
  margin-left: 1px;
  color: #333333;
}

.fece-values {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.fcfe-title-currency {
  margin-left: 380.5px;
  margin-right: 8px;
}

.fcfe-title-currency-inner {
}

.coe-title-currency {
  margin-left: 451px;
}

.toggle {
  margin-right: 8px;
  min-width: 4px;
}

.coe-toggle {
  margin-right: 8px;
  min-width: 4px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
  align-content: center;
}

.price-qty {
  display: flex;
}

.coe-price-qty {
  display: flex;
  justify-content: right;
}

.coe-price-qty-inner {
  display: flex;

  justify-content: right;
}

.coe-value {
  flex: 1;

  text-align: right;
  font-weight: 300;
  color: #555;
}

.fcfe-price-qty-inner {
  display: flex;
  justify-content: flex-start;
  margin-left: 6px;
}

.label {
  flex: 1;
  margin-bottom: -10px;
  color: #333;
  margin-left: 15px;
}

.fcfe-label {
  flex: 1;
  margin-bottom: -10px;
  color: #333;
}

.value {
  flex: 1;
  text-align: right;
  font-weight: 300;
  color: #555;
}

.fcfe-price-qty {
  display: flex;
  justify-content: right;
}

.currency {
  max-width: 40px;
  text-align: left;
  width: 50px;
  margin-left: 162px;
}

.numeric-value {
  font-weight: normal;
  text-align: right;
}

.price-qty-inner {
  display: flex;
  justify-content: left;
  margin-right: 0;
}

.currency-inner {
  max-width: 40px;
  text-align: left;
  width: 50px;
  margin-left: 147px;
}

.number-inner {
  text-align: right;
  flex: 1; /* Allow the numeric value to take up remaining space */
  max-width: 180px;
}

.financial-percentage-inner {
  display: flex;
  justify-content: flex-start;
  margin-left: 0px;
}

.cash-flow-label {
  flex: 1;
  margin-bottom: -10px;
  color: #333;
  margin-left: 15px;
}

.coe-percentage {
  display: flex;
  justify-content: right;

  align-items: right;
  margin-right: 10px;
}

.percentage-inner {
  max-width: 40px;
  text-align: left;
  width: 50px;
  margin-left: 164px;
}

.calculation {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 10;
  padding: 10;
}

.coe-sub-values {
  margin-left: 35px;
}

.share-value {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 10px;
  padding: 10;
}

.intrinsic-result {
  display: flex;
  margin-top: 55px;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.valuation-percentage {
  font-weight: 800;
  color: #65bd72;
}

.projection-wrapper {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 24px;
  padding: 10;
  margin-bottom: 64px;
}

.financial-table-title {
  text-align: left;
}

.financial-table {
  margin-top: 44px;
  width: 450px;
  border-collapse: collapse; /* Remove space between cells */
  max-width: 800px;
  margin: 0 auto;
  margin-top: 10px;
  /* padding:10; */
  text-align: center;
}

.financial-table th {
  /* border: 1px solid #ddd;  */
  /* padding: 40px; */
  min-width: 185px;
  font-size: 14px;
  font-weight: 300;
}

.financial-table td {
  padding: 12px;
  font-size: 14px;
}

.financial-table tr:nth-child(even) {
  /* background-color: #f9f9f9;  */
}

.financial-table tr:hover {
  background-color: #f1f1f1; /* Highlight row on hover */
}

.financial-table th:first-child,
.financial-table td:first-child {
  text-align: left; /* Left-align the first column */
}

/* Container */
.stock-container {
  display: flex;
  align-items: left;
  justify-content: left;
  margin: auto;
  margin-top: 128px;
  width: 790px;
}

/* Logo */
.stock-logo-container {
  margin-right: 15px;
}

.stock-logo {
  width: 120px;
  height: 120px;
  border-radius: 8px;
  background-color: #ddd;
  object-fit: cover;
}

/* Stock Details */
.stock-details-container {
  flex: 1;
  margin-right: 15px;
  margin-top: 4px;
  width: 200px;
}

.stock-company-name {
  font-size: 24px;
}

.stock-ticker {
  font-size: 18px;
  color: #555;
  margin-top: 4px;
}

/* Price Section */
.stock-price-container {
  text-align: left;
}

.stock-price {
  font-size: 32px;
}

.stock-currency {
  font-size: 14px;
  color: #555;
}

.stock-change {
  font-size: 14px;
  margin-top: 20px;
  font-weight: 400;
}

.stock-timestamp {
  font-size: 14px;
  color: #777;

  font-weight: 300;
}

.stock-details-and-price-container {
  margin-left: 28px;
  display: flex;
  flex-direction: row;
  margin-top: 24px;
  gap: 28px;
}

.infinity-symbol {
  font-size: 24px;
}


.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


